u { 
  text-decoration-style: wavy; 
}

.xyx {
  color: orangered;
  width: 100%;
  text-align: center;
  height: 50px;
}
.xyx h2 {
  padding: 7px;
 
}



@media (max-width: 768px) {
  .xyx h2 {
    font-size: 1.2rem;
  }
}
